<table class='login'>
  <tbody>
    <% if form.object.new_record? %>
    <tr>
      <td class="label">
        <%= form.label :login, "Username" %>:
      </td>
      <td>
        <%= form.text_field :login %>
        <span class="star">*</span>
      </td>
    </tr>
    <% end %>
    <tr>
      <td class="label">
        <%= form.label :email, "Email" %>:
      </td>
      <td>
        <%= form.text_field :email %>
        <span class="star">*</span>
      </td>
    </tr>
    <tr>
      <td class="label">  
        <%= form.label :password, form.object.new_record? ? nil : "New password" %>:
      </td>
      <td>
        <%= form.password_field :password, {:value => nil} %>
        <span class="star">*</span>
      </td>
    </tr>
    <tr>
      <td class="label">
        <%= form.label :password_confirmation, form.object.new_record? ? "Password (again)" : "Confirm new password" %>:
      </td>
      <td>
        <%= form.password_field :password_confirmation, {:value => nil} %>
        <span class="star">*</span>
      </td>
    </tbody>
  </table>
<div class="small">
  <span class="star">*</span> required field
</div>
