<div class="span-12 snapx-12 account-left">
<div class="pic">
  <h2>BeeSaving helps you save bees by notifying you of bees in your area</h2>
  <img src="/images/login-screen-bee.png" id="login_bees"/>
</div>
<div class="login">
Already have an account? Log in here
<%= render :partial => "user_sessions/form" %>
</div>

</div>
<div class="span-12 account last">
  <div class="inside">
<h1>Log in with Facebook</h1>

<div class="fb_connect_button">
  <%= fb_connect_button %>
</div>

<hr />
or...

<h4>Register a new Account</h4>
<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Register" %>
<% end %>

  </div>
</div>

<%= render :partial => "shared/facebook_js" %>
