<div class="span-7" id="profile">
  <div class="avatar">
    <%= image_tag @user.avatar.url(:large) %>
  </div>
  <div class="nail"></div>
  <div class="info">
      <ul>
          <li>Name: <%= @user.best_name %></li>
      </ul>
      <ul>
          <li>Joined: <%= time_ago_in_words(@user.created_at) %> ago</li>
      </ul>

      <!--
      how many hives saved<br />
      karma points<br />
      comments
      -->
  </div>
</div>


<div class="span-17 last" id="show_user">

<h1><%= @user.best_name %></h1>
<% if @user.about_me %>
<p class="about">
<h3>About Me</h3>
<%= @user.about_me %>
</p>
<% end %>

<div class="posts_container">
<h3>Posts</h3>
<%= render_timeline @activities %>
</div>

<% if !@activities || @activities.size < 1 %>
  <div class="no_activity">
    <% if @user == current_user %>
      Just starting out?<br />
      <%= link_to "Post some pictures", new_user_post_path(current_user) %><br />
      of your previous captures! 
    <% else %>
      <%= @user.best_name %> doesn't have any activity yet.<br />
    <% end %>
  </div>
<% end %>

</div>

