<div class="span-7" id="profile">
  <div class="avatar">
    <%= image_tag current_user.avatar.url(:large) %>
  </div>
  <div class="nail"></div>
  <div class="info">
      <ul>
          <li>Name: <%= @user.best_name %></li>
      </ul>
      <!--
      how many hives saved<br />
      karma points<br />
      comments
      -->
  </div>
</div>


<div class="span-17 last" id="">

<h1><%= @user.best_name %></h1>
<% @posts.each do |post| %>
  <%= render :partial => "posts/post_as_activity", :locals => {:post => post} %>
<% end %>

<% if @posts.size < 1 %>
  <div class="no_activity">
    <% if @user == current_user %>
      Just starting out?<br />
      <%= link_to "Post some pictures", new_user_post_path(current_user) %><br />
      of your previous captures! 
    <% else %>
      <%= @user.best_name %> doesn't have any activity yet.<br />
    <% end %>
  </div>
<% end %>

</div>

